.infected{
    border: 10px solid rgba(0,0, 255, 0.5);
    margin: 1rem !important;
}
.recovered{
    border: 10px solid rgba(0,255,0, 0.5);
    margin: 1rem !important;
}
.deaths{
    border: 10px solid rgba(255,0, 0, 0.5);
    margin: 1rem !important;
}
.card{
    margin: 0.2% !important;
}
.container-card{
   margin: 50px 0px;
   background-color: rgb(94, 91, 91);
}